@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=DM+Sans:wght@400;500;700&family=Source+Sans+Pro:wght@200&display=swap');

:root {
    --dark-blue: #3F88C5;
    --card-grey: #F5F5F5;
    --light-blue: #D5E2ED;
    --background-color-light: #FFFEFC;
    
    --light-tan: #EDE8D5;
    --dark-tan: #C5A83F;

    --serif-font: 'Crimson Text', serif;
    --san-serif-font: 'DM Sans', sans-serif;
    
    --transition: .4s;

    --radius: 7px;
    --radius-l: 20px;
}

body {
    background-color: var(--background-color-light);
}

* {
    font-family: var(--san-serif-font);
    font-size: 1rem;
    color: var(--dark-blue);
}

.dark {
    --dark-blue: #3766BE;
    --card-grey: #F5F5F5;
    --light-blue: #E5E5E5;
    --background-color-light: #8B8B8B;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.light {
    --dark-blue: #3F88C5;
    --card-grey: #F5F5F5;
    --light-blue: #D5E2ED;
    --background-color-light: #FFFEFC;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

h1, h2, h3, h4, h5, h6, ul, li, img, p {
    margin: 0;
    background-color: inherit;
}

h1 {
    font-size: 2rem;
}

nav {
    padding: 10px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-light);
}

input {
    all: unset;
    background-color: var(--light-blue);
    border-radius: var(--radius);
    padding: 10px 15px;
    font-weight: 700;
    margin: auto 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--light-blue);
    color: var(--dark-blue);
    cursor: pointer;
}

.btn-long {
    padding: 10px 40px;
}

.btn-outline {
    outline: solid 1px;
}
.btn-brown {
    background-color: var(--light-tan);
    color: var(--dark-tan)
}

select {
    border: none;
    background-color: var(--light-blue);
    padding: 9px 20px;
    border-radius: var(--radius);
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}

.mx-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-bar {
    width: 400px;
}

#title {
    font-family: var(--serif-font);
    position: absolute;
    left: 40px;
    font-size: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 50px;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

footer button, select {
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.book-container {
     width: 400px;
     height: 200px;
     border-radius: var(--radius);
}

#feed {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
}

#side-panel {
    position: fixed;
    width: 22%;
    border-radius: var(--radius-l);
    padding: 20px;
    background-color: var(--card-grey);
    height: calc(100vh - 180px);
}

.book-card {
    width: calc(100% - 50px);
    min-height: 100px;
    padding: 20px;
    background-color: var(--card-grey);
    border-radius: var(--radius-l);
    display: flex;
    margin-bottom: 10px;
}

.book-card img {
    height: 140px;
    width: 90px;
    object-fit: cover;
    border-radius: var(--radius);
}
.book-image {
    background-color: var(--card-grey);
}

.book-info {
    margin: 0 20px;
    background-color: var(--card-grey);
}

.book-actions {
    margin-left: auto;
    margin-right: 10px;
    background-color: var(--card-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#switch-container {
    position: absolute;
    right: 110px;
}

/* SWITCH STYLING */
.switch {
    /* position: relative; */
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--card-grey);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  
  input:checked + .slider {
    background-color: var(--dark-blue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(23px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }